

h1,
h2,
h3,
h4,
h5,
h6{
    color: black;
    font-family: "Playfair display" serif;
    font-weight: bold;
}

h1{
    font-size: 96px;
    line-height: 1.5;
}

h2{
    font-size: 64px;
}

h3{
    font-size: 48px;

}
p{
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

.hero{
    background: #f9f7fe;
    text-align: center;
    padding: 80px 20px;
}

.hero p{
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
}

.hero h2 {
    font-family: "Poppins" sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 2;
}

.content-container{
    padding: 60px 20px;
}

.content h1 {
    font-size: 64px;
    line-height: 80px;
}

.content h2{
    font-size: 18px;
    font-family: "Playfair" serif;
}

.content h3{
    font-size: 24px;
    font-family: "Poppins" sans-serif;
    line-height: 1.5;
    margin: 20px 0 0;
}

.content p{

    font-size: 14px;
}

.content{
    margin: 30px;
}

.btn-branding {
    background: #6c63ff;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px;
}

.btn-branding-outline {
    color: #6c63ff;
    border: 1px solid #6c63ff;
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.project-description {
    padding: 120px 60px 0;
}

.logo{
    max-height: 40px;
}

nav {
    padding: 20px 0;

}

nav ul {
    margin: 0;
    padding: 0;
}

nav li{
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color: #272143
}


nav a:hover, nav li .active {
    color: #6c63ff;
    transition: all 100ms ease-in-out;
}

  footer .email-link{
    text-decoration: none;
    color: black;
    font-size: 24px;
    text-align: center;
    margin: 60px 0;
}

 footer .email-link:hover {
    color:#6c63ff;
}

footer .social-links a{
    margin: 0 20px;
    color:#6c63ff;
    background:#f9f7fe;
    padding: 10px 14px;
    font-size: 18px;
    transition: all 150ms ease ease-in-out;
    border-radius: 50%;
}

footer .social-links a:hover{
    color: white;
    background: #6c63ff;
}

footer .contact-box {
    background: #f9f7fe;
    padding: 30px 120px;
    border-radius: 10px;
}

footer .contact-box p{
    margin: 0;
}

@media (max-width: 960px) {
    h1{
        font-size: 44px;
        line-height: 1.5;
    }
    h2{
        font-size: 44px;
    }

    h3{
        font-size: 24px;
    }
    
    .project-description{
        padding: 0;
        text-align: center;
    }

    .content{
        text-align: center;
        padding: 0;
    }


    }

